</header>
<nav>
	<!--- Navigation -->
	<div class="navigation" data-sticky-container>
		<!-- Mobile Toggle -->
		<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
			<div class="title-bar-logo">
				<a href="/" class="m-menu-logo">blend me, inc</a>
			</div>
		</div>
		<!-- End Mobile Toggle -->

		<!-- Desktop Navigation -->
		<div class="top-bar" id="menu" data-sticky data-options="marginTop:0;" style="width:100%">
			<div class="row title-bar-content">
				<div class="title-bar-left">
					<a href="/" class="menu-logo">blend me, inc</a>
				</div>
				<div class="title-bar-right">
					<nav data-magellan data-options="animation-duration: 8000;">
						<ul class="vertical medium-horizontal menu align-left">
							<li>
								<a href="#who">about us</a>
							</li>
							<li>
								<a href="#why">what is telework</a>
							</li>
							<li>
								<a href="#services">services</a>
							</li>
							<li>
								<a href="#blog">blog</a>
							</li>
							<li>
								<a href="#contact">contact</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- End Desktop Navigation -->
	</div>
	<!-- End Navigation -->
</nav>
</header>
